body{
    background-image: url("bg.jpeg");
    background-size: cover; 
    background-repeat: no-repeat;
}
.LogInBox{
    background-color: white;
    margin: 200px 0 0 0;
    padding: 20px 10px 20px 10px;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.heading{
    font-size: 30px;
    font-style: bold;
    font-family: 'Pacifico';
}
.sub_heading{
    padding: 0;
    color: silver;
    font-size: 20px;
    font-family: 'Bellefair';
}
.login_error{
    color: red;
}
.info{
    margin: 10px;
    padding: 5px;
    font-family: 'Titillium Web';           
}