.header{
    list-style-type: none;
    margin: 0 0 0 -15px;
    padding: 0;
    /*overflow: hidden;*/
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.4px solid #eee; 
}
.title{
    display: block;
    color: #000;
    /*text-align: center;*/
    padding: 14px 16px;
    /*margin-left: 200px;*/
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 28px;
    cursor: pointer;
}
.title:hover{
    color: purple;
}
.logout_ico{
    display: inline;
    font-size: 30px;
    margin: 10px 0 10px 0;
    /*margin-left: 300px;*/
}
.logout_ico a{
    color:black;
}
.logout_ico a:hover{
    color: white;
    background-color: black;
}
.heading{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Pacifico';
    text-align: center;
    margin: 80px 30px 0px 30px;
    padding: 20px;
}
.adDevice{
    float: right;
    margin: 50px 30px 0px 30px;
    padding: 20px;
}
.devices{
    background-color: white;
    margin: 50px 30px 0px 30px;
    padding: 20px;
    border: 0.2px solid #ccc;
    box-sizing: border-box;
}
#content{
    text-align: left;
}
.posted_by{
    font-family: 'Raleway';
}
.posted_on{
    font-family: 'Open Sans Condensed';
}
.line{
    margin: 10px -20px 10px -20px;
}

.likes_on_post, .make_comment{
    font-family: 'Josefin Sans';
    margin: 5px;
}
.no_of_likes{
    font-family: 'Bellefair';
    margin: 5px;
}
.theCaption{
    font-family: 'Dosis';
    margin: 5px;
}
.comment_wala{
    display: inline;
    font-family: 'Fjalla One';
    margin: 5px;
}
.comment_t{
    display: inline-block;
    width: 300px;
}
.comment_date{
    display: inline;
    font-family: 'Noto Sans';
    float: right;
}
